<!DOCTYPE html>
<html lang="en">
<!-- Tabula.api_version : ask for it on the console. -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <title>Info + Saúde</title>

    <base href="/"><!-- overwritten dynamically with the value of $servlet_context.getContextPath or ENV["ROOT_URI"] -->

    <link href="css/styles.css" rel="stylesheet">

    <!-- Selector-specific CSS -->
    <link href="css/selectors.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
  </head>


  <body data-spy="scroll" data-target=".nav.sidebar-nav" data-offset="0">
    <div class="ribbon-wrapper-green" id="dev-mode-ribbon" style="display: none;"><div class="ribbon-green">DEV mode</div></div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">FMRP - USP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a id="upload-nav" href="">Meus Arquivos</a></li>
            <li><a id="templates-nav" href="mytemplates">Meus Templates</a></li>
            <li><a id="laboratories-nav" href="mylaboratories">Laboratórios</a></li>
            <li><a id="about-nav" href="about">Sobre</a></li>
            <li><a id="help-nav" href="help">Visualização dos dados</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




    <div id="tabula-app"> <!-- TODO remember to change this ID to match what page we're on.  id="page-selections", id="page-export"-->
    </div>
    <div id="tabula-dataview">

    </div>
    <div id="dataRelacionada">
    </div>
<!-- Area de seleção-->
    <div id="templates">
      <script type="text/template" id="page-template" >
        <span class="page-number"><%= number %>. </span>
        <div class="page" id="page-div-<%= number %>">
          <img onload="$(this).data('loaded', 'loaded');" src="<%= image_url %>" draggable="false" unselectable="on" > <!-- unselectable is for IE/Opera -->
        </div>
      </script>
      <script type="text/template" id="thumbnail-template" >
        <a href="#page-<%= number %>"><img src="<%= image_url %>"></a>
        <div class="remove">
          <span class="glyphicon glyphicon-remove delete-page"></span>
          <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
          <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
        </div>
        <p><%= number %></p>
      </script>

      <script type="text/template" id="export-control-panel-template">
        <form id="download-form" action="pdf/<%=pdf_id%>/data?format=csv" method="post">
          <div id="hidden-fields">
            <input type='hidden' class='data-query' name='new_filename' value='<%=original_filename%>' >
            <input type='hidden' class='data-query' name='coords' value='<%=list_of_coords%>' >
          </div>
          <!-- <input class="filename" name="new_filename" value="<%= new_filename || original_filename %>"></input> -->
          <span class="filename"><%= original_filename %></span>
          <label for="format">Exportar no formato:</label>
          <select name="format" <%=disableIfNoData%> class="form-control format">
            <option value="csv">CSV</option>
            <option value="tsv">TSV</option>
            <option value="bbox">JSON (dimensions)</option>
            <option value="json">JSON (data)</option>
            <!-- <option value="&#x1F4A9;SV">&#x1F4A9;SV</option> -->
            <option value="zip">zip de CSVs</option>
            <!-- <option value="xml">XML</option> -->
            <!-- <option value="script">Script Sh</option> -->
          </select>
          <button type="submit" <%=disableIfNoData%> id="download-data" class="btn btn-default" data-action='pdf/<%=pdf_id%>/data'>
            <span class="glyphicon glyphicon-refresh"></span>
            <span class="glyphicon glyphicon-download"></span>
            Export
          </button>
          <!-- <button type="button" id="copy-csv-to-clipboard" class="btn btn-default" <%=disableIfNoData%> <%=copyDisabled%> >
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="clipboard-text">Copiar para a área de transferência</span>
          </button> -->
        </form>
      </script>

      <script type="text/template" id="select-control-panel-template" >
        <span class="filename"><%= original_filename %></span>
        <div class="dropdown" <%= disable_load_template %> style="display: inline;">
          <button type="button" class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#" ><span class="glyphicon glyphicon-import" title="You may only load a template if there are no selections active in your PDF."></span>Templates</button>
          <div id="template-dropdown-container" class="dropdown-menu">
            <ul>
              <li>
                <a href="javascript:void(0)"><button type="button" id="save-template" class="btn btn-link" style="min-width: 155px;" <%= disable_save_template %>> <span class="button-text">Salvar este template</span> <span class="glyphicon glyphicon-export"></span></button></a>
              </li>
            </ul>
            <p style="margin-left:5px;">Templates criados:</p>
            <div id="template-dropdown-templates-list-container">
            </div>
          </div>
        </div>


        <a href="javascript:void(0)"><button type="button" id="clear-all-selections" class="btn btn-default" <%= disable_clear_all_selections %>><span class="glyphicon glyphicon-remove-circle"></span> Limpar todas as seleções</button></a>
        <button id="restore-detected-tables" type="button" class="btn btn-default <%= restore_detected_tables %>" <%= disabled_if_there_are_selections %>><span class="glyphicon glyphicon-flash"></span><span class="glyphicon glyphicon-refresh"></span> Autodetectar Tabelas deste exame</button>



        <span style="float: right">
          <a href="javascript:void(0)"><button type="button" id="all-data" class="btn btn-success" <%= disable_download_all %>><span class="glyphicon glyphicon-list-alt"></span> Visualizar e exportar os dados extraidos</button></a>
        </span>

        <div id="modalSaveTemplate" class="modal fade">
          <div class="modal-dialog" style="z-index: 99999;">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Salvar template</h4>
                  </div>
                  <div class="modal-body">
                      <p>A qual laboratório pertence o template que você deseja salvar?</p>
                      <select id="modalSelectLaboratories" >
                        <option>Selecione um valor...</option>
                      </select>

                      <p class="text-warning"><small>Caso o laboratório que você deseja não estiver nesta lista, favor cadastrar o laboratório clicando <a href="mylaboratories">aqui</a>.</small></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      <button type="button" id="save-modal-template" class="btn btn-primary">Salvar</button>
                  </div>
              </div>
          </div>



        <span style="clear: both;">
      </script>

      <script type="text/template" id="select-sidebar-template">
        <ul id="thumbnail-list" class="thumbnail-list">
        </ul>
      </script>

      <script type="text/template" id="export-page-sidebar-template">
          <h4>A extração está correta?</h4>

          <p>Você pode revisar sua seleção ou tentar outro método de extração</p>

          <h5>Revise sua seleção</h5>
          <p>Sua seleção pode estar com problemas, volte e análise novamente.</p>
          <p>
            <button type="button" class="btn btn-default" id="revise-selections"><span class="glyphicon glyphicon-arrow-left"></span> Revisar a seleção</button>
          </p>

          <h5>Selecione um método de extração alternativo</h5>

          <p>O método atual utiliza <strong>Stream</strong> como metodo de extração. Se os dados não foram corretamente extraidos, tente utilizar <strong>Grade</strong> como método.</p>

          <div class="btn-group" data-toggle="buttons-radio" id="extraction-method-btns" <%=disableExtractionMethodButtons%> >
            <button type="button" id="original-method-btn" class="btn btn-default extraction-method-btn" data-method="original" ><span class="glyphicon glyphicon-th stream"></span> Stream</button>
            <button type="button" id="spreadsheet-method-btn" class="btn btn-default extraction-method-btn" data-method="spreadsheet"><span class="glyphicon glyphicon-th lattice"></span> Grade</button>
          </div>

          <p>
            Stream procura por <em>espaços em branco</em> entre colunas, enquanto o método Grade busca <em>delimitadores de linhas</em> entre colunas, como o risco de uma tabela.
          </p>

         <h5>Ainda com problemas?</h5>
          <p><a href="http://www.usp.br" target="_blank">Entre em contato com os responsáveis</a> e informe qual o problema.</p>
      </script>

      <!-- TODO: abstract out commonalities of select/export page templates -->
      <script type="text/template" id="export-page-template">
        <div id="sidebar">
        </div>

        <div id="main-pane">
            <div id="control-panel">
            </div>

           <h2>Vizualização dos dados extraidos</h2>
            <div id="table-container">
            <% if(data.length){ %>
              <% _(data).each(function(table){ %>
              <table class="table table-bordered extracted-data">
                <tbody>
                <% _(table).each(function(row){ %>
                  <tr>
                    <% _(row).each(function(cell){ %>
                      <td><%= cell %></td>
                    <% }) %>
                  </tr>
                <% }) %>
                </tbody>
              </table>
              <% }) %>
            <% } else if (loading) { %>
             <div class="alert alert-success" id="loading"><span id="spinner"></span><span style="position: relative; left: 16px; font-size: 24px;">Carregando...</span></div>
            <% } else if (error_message) { %>
               <p><strong>Info+ Saude</strong> não conseguiu processar sua requisição. Segue o erro: </p>
                 <pre class="error"><%= error_message %></pre>
            <% } else { %>
              <span class="no-data">No data.</span>
            <% } %>
            </div>
        </div>
       
      </script>

      <script type="text/template" id="pdf-view-template" >
        <div id="sidebar">
          <!-- thumbnails get rendered here by JS -->
        </div>
        <div id="main-pane">
          <div id="control-panel">
          </div>

          <div id="pages-container">
          </div>
        </div>
        <nestedscript type="text/javascript" src="js/vendor/spin.min.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/resizableSelection.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/rectangularSelector.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/vendor/ZeroClipboard.min.js"></nestedscript>
        <!-- <nestedscript type="text/javascript" src="js/debug_pdf_view.js"></nestedscript>  -->
      </script>


      <script type="text/template" id="failed-uploads-template">
        <h4>Failed Uploads</h4>
        <ol id="failed-uploads">

        </ol>
      </script>
      <script type="text/template" id="failed-uploaded-file-template">
        <a href='/pdf/<%= id %>'><%= original_filename %></a>: <%= failure_message %>
      </script>


      <script type='text/template' id='file-upload-template'>
        <h5><%= filename %></h5>
        <span id="message"><%= message %></span>
        <ul class="list-unstyled">
          <% for(var warning in warnings) { %>
              <li class="text-danger">Warning: <%= warnings[warning] %></li>
          <% } %>
        </ul>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= pct_complete %>%;"><span class="sr-only"> <%= pct_complete %>% Complete </span></div>
        </div>
      </script>

      <script type="text/template" id="progress-bars-template">
        <h4>Upload Progress</h4>
        <div id="progress-bars-container">

        </div>
      </script>

      <script type="text/template" id="new-version-template">
        <div class="alert alert-warning alert-dismissable" id="update-alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>New version!</strong> <a href="<%= new_release.html_url %>">Tabula <span id="new-version"><%= new_release.name %></span></a> is available (you have <span id="installed-version"><%= api_version %></span>)
        </div>
      </script>

      <script type="text/template" id="notification-template">
        <div class="alert alert-warning alert-dismissable" id="custom-alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= notification.name %></strong> <span class="custom-alert-body"><%= notification.body %></span>
        </div>
      </script>


      <script type="text/template" id="uploader-template">
        <div class="container">
          <div class="jumbotron">

            <div id="new-version-alert"></div>
            <div id="notification-alert"></div>

            <div id="upload-form-container">
              <h4>Submeta um ou mais PDFs</h4>
              <form id="upload" action="/upload.json" method="post" enctype="multipart/form-data" class="form-inline">

                <div class="input-group">
                  <!-- we are using this here: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Escolha&hellip; <input type="file" id="file" name="files[]" multiple accept="application/pdf">
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
                </div>

                <!-- fix for the fact that IE11 is trash https://blog.yorkxin.org/posts/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11/ -->
                <input type="hidden" name="_dontcare">

                <button type="submit" class="btn btn-default">Importar</button>
              </form>

            </div>
            <div id="progress-container">
            </div>
              <hr>

              <div id="library-container">
                <h4>PDFs submetidos</h4>

                <div id="file-list-container">
                <table class="table file-list tablesorter" id="fileTable">
                  <thead>
                    <tr>
                      <th>Nome do arquivo</th>
                      <th>Tamanho</th>
                      <th>Quantidade de Páginas</th>
                      <th>Data de submissão</th>
                      <th>Remover</th>
                      <th>Processar</th>
                    </tr>
                  </thead>
                  <tbody id="uploaded-files-container">
                  </tbody>
                </table>
                </div>
              </div>

          <hr />
          <p style="font-size: small;">Você pode utilizar os templates já criados em PDF's de outros laboratórios, para ver todos os templates mapeados acesse  <a href="/mytemplates">Meus templates</a>.</p>

          </div> <!-- /jumbotron -->
        </div> <!-- /container -->

        <!-- we are using this here: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->
        <nestedscript type="text/javascript" src="js/vendor/upload-group.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/vendor/jquery.tablesorter.min.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/vendor/spin.min.js"></nestedscript>
      </script>

      <script type="text/template" id="uploaded-file-template">
        <td><a href='/pdf/<%= id %>'><%= original_filename %></a></td>
        <td><%= size ? Math.floor(size / 1024) : '??' %> kB</td>
        <td><%= page_count || '??' %></td>
        <td><%= new Date(parseInt(time) * 1000).toUTCString().slice(5, -7) %></td>
        <td><a href="javascript:"><span data-filename=<%= original_filename %> data-pdfid=<%= id %> class="glyphicon glyphicon-remove delete-pdf"></span></a></td>
        <td><a href="pdf/<%= id %>"><button type="button" class="btn btn-sm btn-success">Extrair dados</button></a></td>
      </script>

      <script type="text/template" id="saved-template-library-item-template">
        <td><span class="template-name"><%= name %></span> <a href="javascript:"><span data-name=<%= name %> data-templateid=<%= id %> class="glyphicon glyphicon-pencil edit-template-name"></span></a></td>
        <td><%= selection_count %> selection<%= selection_count == "!" ? '' : 's' %></td>
        <td><%= page_count || '??' %></td>
        <td><%= new Date(parseInt(time) * 1000).toUTCString().slice(5, -7) %></td>
        <td><a href="javascript:"><span data-name=<%= name %> data-templateid=<%= id %> class="glyphicon glyphicon-remove delete-template"></span></a></td>
        <td>
          <form class="template-download-form" action="templates/<%= id %>.json" method="get" style="margin-bottom: 0;">
            <button type="submit" class="btn btn-default" data-action=>
              <span class="glyphicon glyphicon-download-alt download-template"></span>
              Download
            </button>
          </form>
        </td>
      </script>

      <script type="text/template" id="saved-laboratory-library-item-laboratory">
        <td><span class="template-name"><%= laboratoryName %></span> <a href="javascript:"><span data-name=<%= name %> data-templateid=<%= id %> class="glyphicon glyphicon-pencil edit-template-name"></span></a></td>
        <td><%= CNPJ  %> </td>
        <td><%= responsableName  %></td>
        <td><%= responsableNumber %></td>
        <td><%= new Date(parseInt(time) * 1000).toUTCString().slice(5, -7) %></td>
        <td><a href="javascript:"><span data-name=<%= name %> data-templateid=<%= id %> class="glyphicon glyphicon-remove delete-laboratory"></span></a></td>
      </script>

      <script type="text/template" id="upload-error-template" >
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6 offset3">
              <div class="hero-unit">
                <h1>Tabula</h1>
                <h2>Upload Error</h2>
                <p><span id="message"><%= message %></span></p>
              </div> <!-- /hero-unit -->
            </div>
          </div>
        </div>
      </script>

      <script type="text/template" id="about-template">
        <div class="container">
          <div class="jumbotron about">

            <h1>Sobre</h1>
            <p>Se trata de um projeto acadêmico, com a intenção de oferecer um novo mecanismo de concentração de dados de pacientes.</p>

            <p>Desenvolvido por alunos da Pós Graduação da USP.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper sit amet lorem nec lacinia. Quisque in finibus dolor. Aliquam erat volutpat. Praesent auctor ut eros pretium bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eleifend metus eget fringilla feugiat. Donec auctor sollicitudin turpis id lobortis. Fusce gravida commodo ligula, dictum finibus massa facilisis et. Maecenas efficitur euismod libero, non faucibus mi fermentum et. Sed ullamcorper orci justo, sed convallis eros ultrices nec. Aliquam sit amet congue tortor. Fusce non fringilla metus, ac efficitur nulla.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper sit amet lorem nec lacinia. Quisque in finibus dolor. Aliquam erat volutpat. Praesent auctor ut eros pretium bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eleifend metus eget fringilla feugiat. Donec auctor sollicitudin turpis id lobortis. Fusce gravida commodo ligula, dictum finibus massa facilisis et. Maecenas efficitur euismod libero, non faucibus mi fermentum et. Sed ullamcorper orci justo, sed convallis eros ultrices nec. Aliquam sit amet congue tortor. Fusce non fringilla metus, ac efficitur nulla.</p>

            <h2>Lorem ipsum?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper sit amet lorem nec lacinia. Quisque in finibus dolor. Aliquam erat volutpat. Praesent auctor ut eros pretium bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eleifend metus eget fringilla feugiat. Donec auctor sollicitudin turpis id lobortis. Fusce gravida commodo ligula, dictum finibus massa facilisis et. Maecenas efficitur euismod libero, non faucibus mi fermentum et. Sed ullamcorper orci justo, sed convallis eros ultrices nec. Aliquam sit amet congue tortor. Fusce non fringilla metus, ac efficitur nulla.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper sit amet lorem nec lacinia. Quisque in finibus dolor. Aliquam erat volutpat. Praesent auctor ut eros pretium bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eleifend metus eget fringilla feugiat. Donec auctor sollicitudin turpis id lobortis. Fusce gravida commodo ligula, dictum finibus massa facilisis et. Maecenas efficitur euismod libero, non faucibus mi fermentum et. Sed ullamcorper orci justo, sed convallis eros ultrices nec. Aliquam sit amet congue tortor. Fusce non fringilla metus, ac efficitur nulla.</p>

          </div> <!-- /jumbotron -->
        </div> <!-- /container -->
       </script>

      <script type="text/templates" id="templates-template">
        <div class="container">
          <div class="jumbotron help">
            <h1>Meus templates</h1>
            <p style="font-size: small;">Nesta tela você pode gerenciar todos os templates salvos.</p>
            <div id="template-library-container">
              <div id="file-list-container">
              <table class="table file-list" id="templateTable">
                <thead>
                  <tr>
                    <th>Nome do template</th>
                    <th>Número de seleções</th>
                    <th>Número de páginas</th>
                    <th>Data de criação</th>
                    <th>Remover</th>
                    <th>Download</th>
                  </tr>
                </thead>
                <tbody id="saved-templates-container">
                </tbody>
              </table>
              </div>
            </div>

            <div id="template-upload-form-container">
              <h2>Importe um ou mais templates</h2>
              <p style="font-size: small;">Você pode importar templates já criados no formato JSON</p>
              <form id="uploadtemplate" action="templates/upload.json" method="post" enctype="multipart/form-data" class="form-inline">

                <div class="input-group">
                  <!-- we are using this here: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Selecione&hellip; <input type="file" id="file" name="files[]" multiple accept="application/json">
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
                </div>

                <!-- fix for the fact that IE11 is trash https://blog.yorkxin.org/posts/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11/ -->
                <input type="hidden" name="_dontcare">

                <button type="submit" class="btn btn-default">Importar</button>
              </form>

            </div>
          </div> <!-- /jumbotron -->
        </div> <!-- /container -->
        <nestedscript type="text/javascript" src="js/vendor/upload-group.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/vendor/jquery.tablesorter.min.js"></nestedscript>
      </script>

      <script type="text/template" id="laboratories-template">
        <div class="container">
          <div class="jumbotron help">
            <h1>Laboratórios</h1>
            <p style="font-size: small;">Todos os laboratórios cadastrados no sistema.</p>
            <div id="laboratories-library-container">
              <div id="file-list-container">
              <table class="table file-list" id="templateTable">
                <thead>
                  <tr>
                    <th>Nome do laboratório</th>
                    <th>CNPJ</th>
                    <th>Nome do responsável</th>
                    <th>Número de registro do responsável</th>
                    <th>Data de cadastro</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody id="saved-laboratories-container">
                </tbody>
              </table>
              </div>
            </div>


            <div id="template-upload-form-container">
              <h2>Cadastre um novo laboratório</h2>
              <p style="font-size: small;"></p>
              <form id="uploadtemplate" action="laboratories" method="post" enctype="multipart/form-data" class="form-inline">

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">CNPJ</span>
                  <input type="text" name="CNPJ" class="form-control" placeholder="Digite o cnpj" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Nome do laboratório</span>
                  <input type="text" name="laboratoryName" class="form-control" placeholder="Digite o nome do laboratório" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Nome do responsável pelos exames</span>
                  <input type="text" name="responsableName" class="form-control" placeholder="Digite o nome do responsável pelos exames" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Registro do responsável (CRBM, CRM ou CRF)</span>
                  <input type="text"  name="responsableNumber" class="form-control" placeholder="Digite o número de registro do responsável" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <button type="submit" class="btn btn-default">Cadastrar</button>
                </div>
                

                <!-- fix for the fact that IE11 is trash https://blog.yorkxin.org/posts/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11/ -->
               
              </form>

            </div>
          </div> <!-- /jumbotron -->
        </div> <!-- /container -->
        <nestedscript type="text/javascript" src="js/vendor/upload-group.js"></nestedscript>
        <nestedscript type="text/javascript" src="js/vendor/jquery.tablesorter.min.js"></nestedscript>
      </script>


      <script type="text/template" id="help-template">
        <div class="container">
          <div class="jumbotron help">
          <h3 name="howto">Exemplo de visualização dos dados</h3>
          <div class="teste"></div>
          <script>
          
          var n = 20, // number of samples
              m = 4; // number of series
          
          var data = d3.range(m).map(function() { return d3.range(n).map(Math.random); });
          
          var margin = {top: 20, right: 30, bottom: 30, left: 40},
              width = 960 - margin.left - margin.right,
              height = 500 - margin.top - margin.bottom;
          
          var y = d3.scale.linear()
              .domain([0, 1])
              .range([height, 0]);
          
          var x0 = d3.scale.ordinal()
              .domain(d3.range(n))
              .rangeBands([0, width], .2);
          
          var x1 = d3.scale.ordinal()
              .domain(d3.range(m))
              .rangeBands([0, x0.rangeBand()]);
          
          var z = d3.scale.category10();
          
          var xAxis = d3.svg.axis()
              .scale(x0)
              .orient("bottom");
          
          var yAxis = d3.svg.axis()
              .scale(y)
              .orient("left");
          
          var svg = d3.select(".teste").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("svg:g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
          
          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis);
          
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);
          
          svg.append("g").selectAll("g")
              .data(data)
            .enter().append("g")
              .style("fill", function(d, i) { return z(i); })
              .attr("transform", function(d, i) { return "translate(" + x1(i) + ",0)"; })
            .selectAll("rect")
              .data(function(d) { return d; })
            .enter().append("rect")
              .attr("width", x1.rangeBand())
              .attr("height", y)
              .attr("x", function(d, i) { return x0(i); })
              .attr("y", function(d) { return height - y(d); });

          </script>
          </div> <!-- /jumbotron -->
        </div> <!-- /container -->
       </script>

     
    </div> <!-- /templates -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    </script> <!-- TODO: move this to tabula.js, only run it if we're in upload page viewer -->

    <script type="text/javascript" src="js/tabula.js?_cachebuster=201510300905"></script> <!-- actually starts Tabula -->
    <script type="text/javascript" src="js/template_library.js?_cachebuster=201510300905"></script> <!-- needed on almost all pages -->
    <script type="text/javascript" src="js/laboratory_library.js?_cachebuster=201510300905"></script> <!-- needed on almost all pages -->
    <script src="js/d3.v3.min.js"></script>
  </body>
</html>
